body {
    height: 100%;
}
header {
    width: 100%;
    background-color: antiquewhite;
    height: 100px;
}

.tiitel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sisuala {
display: flex;
height: 100%;
}

.artikkel {
    width: 100%;
    height: 100%;
    background-color: beige;
}

.menyy ul {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
    text-align: center;
   

}

.pilt {
    display: block;
    width: 40%;
    height: 198px;
}
